<div class="dashWrapper">
  <h2 >Dashboard</h2>
  <a href="/users/logout" class="logout-btn">Logout</a>
</div>
<h2 class="dashheader">Welcome, you are viewing Admin Dashboard</h2>
<div class="candidates">
  <div class="candidate">
    <h1>Candidate 1</h1> 
    <p class="voteGain">Vote: 80</p>
  </div>
  <div class="candidate">
    <h1>Candidate 2</h1> 
    <p class="voteGain">Vote: 80</p>
  </div>
  <div class="candidate">
    <h1>Candidate 3</h1> 
    <p class="voteGain">Vote: 80</p>
  </div>
  <div class="candidate">
    <h1>Candidate 4</h1> 
    <p class="voteGain">Vote: 80</p>
  </div>
</div>