<div class="dashWrapper">
  <h2 >Dashboard</h2>
  <a href="/users/logout" class="logout-btn">Logout</a>
</div>
<h2 class="dashheader">Welcome, you are viewing the list of candidates, select any one person.</h2>
<div class="candidates">
  <div class="candidate">
    <h1>Candidate 1</h1>
    <form action="/vote/candidate1" method="POST">
      <button type="submit">Vote</button>
    </form>
  </div>
  <div class="candidate">
    <h1>Candidate 2</h1>
    <form action="/vote/candidate2" method="POST">
      <button type="submit">Vote</button>
    </form>
  </div>
  <div class="candidate">
    <h1>Candidate 3</h1>
    <form action="/vote/candidate3" method="POST">
      <button type="submit">Vote</button>
    </form>
  </div>
  <div class="candidate">
    <h1>Candidate 4</h1>
    <form action="/vote/candidate4" method="POST">
      <button type="submit">Vote</button>
    </form>
  </div>
</div>