<div class="home-header">
  <h1 class="header">Cast your vote online <br> Easy and Hassle free.</h1>
<div class="buttons">
  <a href="/users/register" class="button-primary">Register Now</a>
  <a href="/users/login" class="button-secondary">Login</a>
</div>
</div>