<div class="dashWrapper">
  <h2 >Dashboard</h2>
  <a href="/users/logout" class="logout-btn">Logout</a>
</div>
<h2 class="dashheader">Hi there, You have casted your vote. Thankyou for visiting us, have a great day!</h2>